$introIconSize: 70px;

.intro-root {
  height: 100%;

  .intro-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;

    .slide-icon {
      width: $introIconSize;
      height: $introIconSize;
    }
  }
}
