.root {
    position: relative;
}
.map {
    position: relative;
    z-index: 1;
}
.avatar {
    position: absolute !important;
    z-index: 2;
    top: 10px;
    left: 10px;
}
.actionBtns {
    position: absolute;
    z-index: 2;
    bottom: 10px;
}
.actionBtns > img {
    height: 50px;
    margin: 0 0.5em;
    cursor: pointer;
}

:global(.leaflet-control-zoom) {
    display: none;
}
:global(.leaflet-popup-tip),
:global(.leaflet-popup-content-wrapper) {
    background: #f6f4f1;
}
/* :global(.leaflet-marker-icon) {
    display: none !important;
} */
